*.iml
*.jks
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.fleet
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/localization
*.csv
/iosApp/iosApp/GoogleService-Info.plist
/iosApp/iosApp/Dev-GoogleService-Info.plist
/iosApp/iosApp/Staging-GoogleService-Info.plist
/iosApp/iosApp/Release-GoogleService-Info.plist